<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
      <ion-card class="datainput">
      <ion-card-header>
    <ion-card-subtitle> System </ion-card-subtitle>
    <ion-card-title> Status </ion-card-title>
      </ion-card-header>

  <ion-item *ngFor="let msg of systemmessages" >
    <ion-label class="ion-text-wrap" *ngIf="msg.message != ''" >
      <ion-text color="primary">
        <h3> {{msg.name}}  </h3>
        <p>  {{msg.message}}</p>
      </ion-text>
     </ion-label>
 </ion-item >
     </ion-card>

      <ion-card class="datainput">
      <ion-card-header>
    <ion-card-subtitle>Question / answer </ion-card-subtitle>
    <ion-card-title> Subject

    </ion-card-title>
      </ion-card-header>
 <ion-item >
 <ion-badge slot="start">1</ion-badge>
         <ion-label position="stacked"> Enter subject  </ion-label>
         <ion-textarea rows="2" class="ion-text-wrap" type="text"  [(ngModel)]="subject" placeholder="subject "></ion-textarea>
       </ion-item>





      <ion-card-header>
    <ion-card-title >Enter Question </ion-card-title>

      </ion-card-header>
           <ion-item>
    <ion-badge slot="start">2</ion-badge>

    <ion-label class="ion-text-wrap"> <h4> Question  </h4>
    </ion-label>



           </ion-item>




            <ion-item>
         <ion-label position="stacked"> Enter Question  </ion-label>

       <ion-textarea rows="8" class="ion-text-wrap" type="text" [(ngModel)]="question"
                          placeholder="Enter question "></ion-textarea>
            </ion-item>


           <ion-item>
      <ion-button  [disabled]="questionanswer.qstatus == 'open' "size="small" color="primary" (click)="senduserquestion()"> Submit question </ion-button>

           </ion-item>
    </ion-card>

    <ion-card >
      <ion-card-header>
     <ion-card-subtitle>Q/A </ion-card-subtitle>
    <ion-card-title > ID:   {{questionanswer.questionid}}   </ion-card-title>

      </ion-card-header>

      <ion-item >
     <ion-label class="ion-text-wrap">
      {{questionanswer.subject}}
     </ion-label>
      </ion-item >
      <ion-item >
      <ion-button   size="small" color="primary" (click)="getquestionanswer()"> Question status </ion-button>
      <ion-button  [disabled]="questionanswer.subject != ''" size="small" color="primary" (click)="getquestionanswer()"> Question status </ion-button>
      </ion-item >
      <ion-item >
      <ion-icon name="star" slot="start"></ion-icon>

     <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3> Question: {{questionanswer.qcontent}}  </h3>
        <h3> Status: {{questionanswer.qstatus}}  </h3>
        <p> Response:     {{questionanswer.rcontent}}</p>
      </ion-text>
     </ion-label>
      </ion-item >
    </ion-card>

</ion-content>
